## Preprocessing

In [1]:
# Import our dependencies
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import csv
# Import pandas and read the charity_data.csv from the provided cloud URL.

application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From c:\Users\jimco\anaconda3\envs\ml_env\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

What variable(s) are the target(s) for your model?
    - Is Successful
What variable(s) are the feature(s) for your model?
    - APPLICATION_TYPE, AFFILIATION, CLASSIFICATION, USE_CASE, ORGANIZATION, STATUS, INCOME_AMT, SPECIAL_CONSIDERATIONS, ASK_AMT

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
import matplotlib.pyplot as plt
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)
# Determine which values to replace

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

The log scale was used to gain a better understanding of the distribution  of the less frequent application types and make a more informed decision about the cutoff value

In [5]:
# # Step 2: Visualize the distribution
# plt.figure(figsize=(10, 6))
# application_type_counts.plot(kind='bar')
# plt.title('Frequency Distribution of Application Types')
# plt.xlabel('Application Type')
# plt.ylabel('Frequency')
# plt.yscale('log')  # Use log scale for better visualization of outliers
# plt.show()

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Choose a cutoff value (example: 500)
cutoff_value = 737

# Create a list of application types to be replaced
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
Other     1529
T6        1216
T5        1173
T19       1065
T8         737
Name: count, dtype: int64

In [7]:
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# plt.figure(figsize=(10, 6))
# application_type_counts .plot(kind='bar')
# plt.title('Frequency Distribution of Application Types')
# plt.xlabel('Application Type')
# plt.ylabel('Frequency')
# plt.yscale('log')  # Use log scale for better visualization of outliers
# plt.show()

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(classification_counts[classification_counts > 1])

# # Step 2: Visualize the distribution
# plt.figure(figsize=(10, 6))
# classification_counts.plot(kind='bar')  
# plt.title('Frequency Distribution of Classifications')
# plt.xlabel('Classification')
# plt.ylabel('Frequency')
# plt.yscale('log')  # Use log scale for better visualization of outliers
# plt.show()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classification_cutoff_value = 800

# Create a list of application types to be replaced
classifications_to_replace = classification_counts[classification_counts < classification_cutoff_value ].index.tolist()


for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
status_counts = application_df['STATUS'].value_counts()
print(status_counts)

STATUS
1    34294
0        5
Name: count, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',  'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# Convert categorical data to numeric using pd.get_dummies
application_df = pd.get_dummies(application_df, columns=categorical_columns)

# Display the first few rows of the updated DataFrame
print(application_df.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                    True
1       1   108590              1                   False
2       1     5000              0                   False
3       1     6692              1                   False
4       1   142590              1                   False

   APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                 False                False                False
1                 False                 True                False
2                 False                False                False
3                 False                 True                False
4                 False                 True                False

   APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T8  ...  \
0                False                False                False  ...
1                False                False                False  ...
2                 True                False                False  ...
3                False                False                False  ...
4                False                False                False  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0            False              False                      True
1            False              False                      True
2            False              False                      True
3            False              False                      True
4            False              False                      True

   SPECIAL_CONSIDERATIONS_Y
0                     False
1                     False
2                     False
3                     False
4                     False

[5 rows x 42 columns]

In [13]:
columns_to_drop = [
    "AFFILIATION_Other",
    "STATUS",
    "AFFILIATION_Family/Parent",
    "AFFILIATION_Regional",
    "SPECIAL_CONSIDERATIONS_Y",
    "SPECIAL_CONSIDERATIONS_N",
    "INCOME_AMT_25000-99999",
    "INCOME_AMT_0"
]
application_df = application_df.drop(columns=columns_to_drop)

In [14]:
# Split the data into features and target
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns='IS_SUCCESSFUL')

# Capture feature names
feature_names = X.columns

# Convert to numpy array for scaling
X = X.values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Function to create the model
def create_model(input_dim):
    model = tf.keras.models.Sequential()
    model.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=input_dim))
    model.add(tf.keras.layers.Dropout(0.2))
    model.add(tf.keras.layers.Dense(units=64, activation='relu'))
    model.add(tf.keras.layers.Dropout(0.2))
    model.add(tf.keras.layers.Dense(units=32, activation='relu'))
    model.add(tf.keras.layers.Dropout(0.2))
    model.add(tf.keras.layers.Dense(units=16, activation='relu'))
    model.add(tf.keras.layers.Dropout(0.2))
    model.add(tf.keras.layers.Dense(units=8, activation='relu'))
    model.add(tf.keras.layers.Dropout(0.2))
    model.add(tf.keras.layers.Dense(units=4, activation='relu'))  # Additional hidden layer
    model.add(tf.keras.layers.Dropout(0.2))
    model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
    model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
    return model

In [17]:
# # Function to train the model
# def train_model(model, X_train, y_train, X_test, y_test, epochs=100):
#     # Train the model
#     fit_model = model.fit(X_train, y_train, epochs=epochs, batch_size=32, validation_split=0.2)
    
#     # Evaluate the model using the test data
#     model_loss, model_accuracy = model.evaluate(X_test, y_test, verbose=2)
#     print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
    
#     return model, fit_model

In [18]:
# Create the model
nn = create_model(input_dim=X_train_scaled.shape[1])

# Implement early stopping
early_stopping = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

# Train the model with validation split
history = nn.fit(X_train_scaled, y_train, epochs=200, batch_size=32, validation_split=0.2, callbacks=[early_stopping])

# Check if early stopping was triggered
if early_stopping.stopped_epoch > 0:
    print(f"Early stopping triggered at epoch {early_stopping.stopped_epoch + 1}")

# Print the number of epochs completed
print(f"Number of epochs completed: {len(history.history['loss'])}")

WARNING:tensorflow:From c:\Users\jimco\anaconda3\envs\ml_env\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\jimco\anaconda3\envs\ml_env\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Epoch 1/200
WARNING:tensorflow:From c:\Users\jimco\anaconda3\envs\ml_env\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\jimco\anaconda3\envs\ml_env\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

644/644 [==============================] - 2s 2ms/step - loss: 0.6363 - accuracy: 0.6584 - val_loss: 0.5601 - val_accuracy: 0.7355
Epoch 2/200
644/644 [==============================] - 1s 1ms/step - loss: 0.6015 - accuracy: 0.7086 - val_loss: 0.5623 - val_accuracy: 0.7329
Epoch 3/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5945 - accuracy: 0.7133 - val_loss: 0.5546 - val_accuracy: 0.7347
Epoch 4/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5907 - accuracy: 0.7130 - val_loss: 0.5588 - val_accuracy: 0.7357
Epoch 5/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5865 - accuracy: 0.7178 - val_loss: 0.5573 - val_accuracy: 0.7343
Epoch 6/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5871 - accuracy: 0.7159 - val_loss: 0.5602 - val_accuracy: 0.7328
Epoch 7/200
644/644 [==============================] - 1s 2ms/step - loss: 0.5819 - accuracy: 0.7194 - val_loss: 0.5522 - val_accuracy: 0.7318
Epoch 8/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5829 - accuracy: 0.7182 - val_loss: 0.5527 - val_accuracy: 0.7339
Epoch 9/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5816 - accuracy: 0.7197 - val_loss: 0.5550 - val_accuracy: 0.7335
Epoch 10/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5816 - accuracy: 0.7200 - val_loss: 0.5536 - val_accuracy: 0.7349
Epoch 11/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5804 - accuracy: 0.7199 - val_loss: 0.5514 - val_accuracy: 0.7326
Epoch 12/200
644/644 [==============================] - 1s 2ms/step - loss: 0.5785 - accuracy: 0.7201 - val_loss: 0.5507 - val_accuracy: 0.7341
Epoch 13/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5797 - accuracy: 0.7206 - val_loss: 0.5543 - val_accuracy: 0.7298
Epoch 14/200
644/644 [==============================] - 1s 2ms/step - loss: 0.5750 - accuracy: 0.7214 - val_loss: 0.5558 - val_accuracy: 0.7273
Epoch 15/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5776 - accuracy: 0.7202 - val_loss: 0.5533 - val_accuracy: 0.7324
Epoch 16/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5778 - accuracy: 0.7207 - val_loss: 0.5507 - val_accuracy: 0.7312
Epoch 17/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5763 - accuracy: 0.7251 - val_loss: 0.5538 - val_accuracy: 0.7333
Epoch 18/200
644/644 [==============================] - 1s 2ms/step - loss: 0.5771 - accuracy: 0.7234 - val_loss: 0.5566 - val_accuracy: 0.7294
Epoch 19/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5770 - accuracy: 0.7222 - val_loss: 0.5527 - val_accuracy: 0.7341
Epoch 20/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5750 - accuracy: 0.7239 - val_loss: 0.5526 - val_accuracy: 0.7324
Epoch 21/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5755 - accuracy: 0.7246 - val_loss: 0.5514 - val_accuracy: 0.7328
Epoch 22/200
644/644 [==============================] - 1s 1ms/step - loss: 0.5750 - accuracy: 0.7240 - val_loss: 0.5514 - val_accuracy: 0.7314
Early stopping triggered at epoch 22
Number of epochs completed: 22

In [19]:


# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5579 - accuracy: 0.7269 - 237ms/epoch - 884us/step
Loss: 0.557867705821991, Accuracy: 0.7268804907798767

In [20]:
# Custom function to calculate permutation importance
def custom_permutation_importance(model, X_test, y_test, feature_names, n_repeats=10):
    baseline_accuracy = model.evaluate(X_test, y_test, verbose=0)[1]
    importances = np.zeros(X_test.shape[1])
    for i in range(X_test.shape[1]):
        scores = np.zeros(n_repeats)
        for n in range(n_repeats):
            X_test_permuted = X_test.copy()
            np.random.shuffle(X_test_permuted[:, i])
            permuted_accuracy = model.evaluate(X_test_permuted, y_test, verbose=0)[1]
            scores[n] = baseline_accuracy - permuted_accuracy
        importances[i] = np.mean(scores)
    return importances

In [21]:
# Calculate permutation importance
importances = custom_permutation_importance(nn, X_test_scaled, y_test, feature_names)

# Save permutation importance to a text file
with open('permutation_importance.txt', 'w') as f:
    for i in np.argsort(importances)[::-1]:
        f.write(f"{feature_names[i]}: {importances[i]:.4f}\n")

# Display permutation importance
for i in np.argsort(importances)[::-1]:
    print(f"{feature_names[i]}: {importances[i]:.4f}")

AFFILIATION_CompanySponsored: 0.1037
ORGANIZATION_Association: 0.0360
ORGANIZATION_Trust: 0.0317
AFFILIATION_Independent: 0.0191
APPLICATION_TYPE_T5: 0.0179
APPLICATION_TYPE_Other: 0.0128
APPLICATION_TYPE_T3: 0.0115
CLASSIFICATION_Other: 0.0064
INCOME_AMT_1M-5M: 0.0040
INCOME_AMT_10M-50M: 0.0037
APPLICATION_TYPE_T6: 0.0036
INCOME_AMT_100000-499999: 0.0028
CLASSIFICATION_C2000: 0.0026
ORGANIZATION_Co-operative: 0.0025
USE_CASE_ProductDev: 0.0025
APPLICATION_TYPE_T19: 0.0018
INCOME_AMT_5M-10M: 0.0016
APPLICATION_TYPE_T4: 0.0015
CLASSIFICATION_C3000: 0.0013
INCOME_AMT_50M+: 0.0010
USE_CASE_Preservation: 0.0010
ORGANIZATION_Corporation: 0.0006
USE_CASE_CommunityServ: 0.0003
CLASSIFICATION_C1000: 0.0003
ASK_AMT: 0.0003
CLASSIFICATION_C1200: 0.0003
USE_CASE_Heathcare: 0.0002
INCOME_AMT_10000-24999: 0.0002
USE_CASE_Other: 0.0001
AFFILIATION_National: 0.0001
CLASSIFICATION_C2100: -0.0001
INCOME_AMT_1-9999: -0.0002
APPLICATION_TYPE_T8: -0.0004

In [22]:
# Save the optimized model to an HDF5 file
nn.save('AlphabetSoupCharity_Optimized6rdAttempt.h5')

c:\Users\jimco\anaconda3\envs\ml_env\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [26]:
# Step 3: Compare with Other Models
models = {
    "Logistic Regression": LogisticRegression(random_state=1),
    "Decision Tree": DecisionTreeClassifier(random_state=1),
    "Random Forest": RandomForestClassifier(random_state=1),
    "SVM": SVC(random_state=1),
    "KNN": KNeighborsClassifier(),
    "Gradient Boosting": GradientBoostingClassifier(random_state=1)
}

In [27]:
# Train and evaluate each model
for model_name, model in models.items():
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{model_name} Accuracy: {accuracy:.4f}")

Logistic Regression Accuracy: 0.7247
Decision Tree Accuracy: 0.7134
Random Forest Accuracy: 0.7139
SVM Accuracy: 0.7304
KNN Accuracy: 0.7097
Gradient Boosting Accuracy: 0.7276